[Unit]
Description = Push daemon for Nextcloud clients
Documentation=https://github.com/nextcloud/notify_push

[Service]
# Change if you already have something running on this port
Environment = PORT=7867
ExecStart = /var/www/html/custom_apps/notify_push/bin/x86_64/notify_push /var/www/html/config/config.php
# requires the push server to have been build with the systemd feature (enabled by default)
Type=notify
User=www-data
Restart=always
RestartSec=60

[Install]
WantedBy = multi-user.target
